<header>
  <div class="container container-large">
    <nav class="nav flex flex-row flex-even">
      <div>
        <a class="no-hover"><h3>ONGAKU</h3></a>
      </div>
      <div class="fa fa-search input" style="padding-left: 15px;">
        <input class="no-border" placeholder="Search Ongaku">
      </div>
      <div>
        <ul class="flex flex-row">
          <li>Home</li>
          <li>Feed</li>
          <li>Browse</li>
          <li>You</li>
        </ul>
      </div>
    </nav>
  </div>
</header>
